* {
    margin: 0px;
    padding: 0px;
}
.elmnt {
    height: 100px;
    width: 100px;
    background-color: #2A4165;
    border-width: 5%;
    border-color: black;
    border-style: solid;
    border-radius: 12px;
    position: relative;
    display: inline-block;
    margin-right: 3px;
}
#symbol {
    font-size: 36px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.info {
    position: absolute;
    color: white;
}
#name {
    font-size: 16px;
    top: 73%;
    left: 50%;
    transform: translateX(-50%);
}
#number, #mass {
    font-size: 16px;
    padding-top: 8%;
    padding-left: 8%;
}
#mass {
    right: 8%;
}
#get_text {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}
#txt{
    resize: none;
    border-width: 2px;
    border-radius: 10px;
    border-color: black;
    width: 500px;
    height: 200px;
    background-color: lightcyan;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    padding: 10px;
}
#txt:focus {
    outline: none;
}
.showbox {
    display: block;
    text-align: center;
}
#hd {
    height: 100px;
    background-color: lightseagreen;
    padding-left: 10px;
}
body {
    background-image: url("light4.jpg");
}

.elmnt {
    margin-bottom: 10px;
    text-align:justify;
    cursor: pointer;
}
h1 {
    font-size: 48px;
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    font-family:system-ui;
    color: black;
}
nav {
    height: 50px;
    background-color: darkcyan;
}
a {
    font-size: 22px;
    margin-left: 10px;
    text-decoration: none;
    color: black;
    font-family: system-ui;
}
#bar {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#rnd {
    border-left: solid;
    border-right: solid;
    padding: 0px 10px 0px 10px;
    border-width: thin;
}